<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.hack1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Mental Health"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ques1"
            android:theme="@style/page" />
        <activity
            android:name=".ques2"
            android:theme="@style/page" />
        <activity
            android:name=".ques3"
            android:theme="@style/page" />
        <activity
            android:name=".ques4"
            android:theme="@style/page" />
        <activity
            android:name=".ques5"
            android:theme="@style/page" />
        <activity
            android:name=".ques6"
            android:theme="@style/page" />
        <activity
            android:name=".ques7"
            android:theme="@style/page" />
        <activity
            android:name=".ques8"
            android:theme="@style/page" />
        <activity
            android:name=".ques10"
            android:theme="@style/page" />
        <activity
            android:name=".ques11"
            android:theme="@style/page" />
        <activity
            android:name=".ques12"
            android:theme="@style/page" />
        <activity android:name=".result"
            android:theme="@style/page"/>
        <activity
            android:name=".ques0"
            android:theme="@style/page">

        </activity>
        <activity
            android:name=".splash"
            android:theme="@style/page1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homepage"
            android:theme="@style/page2"/>
        <activity android:name=".home"
            android:theme="@style/page1"></activity>
    </application>

</manifest>